.button {
  padding: 0;
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit;
  outline: transparent;
  border: transparent;
  border-radius: 30px;
}

.logInBtn {
  background-color: transparent;
  border: 1px solid rgba(251, 251, 251, 0.4);
  padding: 13px 39px;
  font-weight: 500;
  line-height: 1.25;
  margin-right: 8px;
}

.registration {
  background-color: var(--background);
  border: transparent;
  padding: 14px 40px;
  font-weight: 500;
  line-height: 1.25;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
}

.loadMore {
  display: block;
  margin: 0 auto;
  background-color: var(--background);
  border-radius: 30px;
  padding: 14px 40px;
  font-weight: 500;
  line-height: 1.25;
}

.review {
  grid-area: 4 / 2 / 5 / 3;
  text-align: start;
  background-color: transparent;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #11101c;
}

.favorites {
  margin-left: 16px;
  background-color: transparent;
  width: 26px;
  height: 26px;
}
