.button {
  font-family: var(--font-family);
  padding: 0;
  font-size: inherit;
  font-size: 16px;
  color: inherit;
  outline: transparent;
  border: transparent;
  background-color: transparent;
  border-radius: 30px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.01em;
}

.logInBtn,
.logOut {
  border: 1px solid rgba(251, 251, 251, 0.4);
  padding: 13px 39px;
  margin-right: 8px;
  &.logOut {
    vertical-align: middle;
  }
}

.registration {
  background-color: var(--background);
  border: transparent;
  padding: 14px 40px;
  font-size: 16px;
}

.loadMore {
  display: block;
  margin: 0 auto;
  background-color: var(--background);
  border-radius: 30px;
  padding: 14px 40px;
}

.review {
  grid-area: 4 / 2 / 5 / 3;
  text-align: start;
  line-height: 1.5;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #11101c;
}

.favorites {
  margin-left: 16px;
  width: 26px;
  height: 26px;
}

.signUpLogInModals {
  min-width: 100%;
  border-radius: 30px;
  padding: 16px;
  background-color: var(--background);
  color: var(--main);
}

.closeModal {
  stroke: var(--focus-filter);
  border-color: transparent;
  position: absolute;
  top: 20px;
  right: 20px;
}
