.nannyAvatar {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 120px;
  max-width: 120px;
  grid-area: 1 / 1 / 4 / 2;
  border: 2px solid rgba(240, 63, 59, 0.2);
  border-radius: 30px;
  padding: 12px;
  &::before {
    content: '';
    position: absolute;
    z-index: 99;
    border-radius: 100%;
    top: 9px;
    right: 14px;
    width: 10px;
    height: 10px;
    background-color: #38cd3e;
  }
  &::after {
    content: '';
    position: absolute;
    border-radius: 100%;
    border-radius: 100%;
    top: 7px;
    right: 12px;
    width: 14px;
    height: 14px;
    background-color: var(--main);
  }
  .avatar {
    border-radius: 15px;
  }
}

.nannyName {
  grid-area: 1 / 2 / 2 / 3;
  .role {
    font-weight: 500;
    color: #8a8a89;
  }

  .name {
    font-weight: 500;
    font-size: 24px;
    line-height: 1;
    color: #11101c;
  }
}

.info {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  gap: 32px;
  font-weight: 500;
  color: #11101c;
  p:not(:last-child) {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      right: -16px;
      top: 0;
      width: 1px;
      height: 16px;
      background-color: rgba(17, 16, 28, 0.2);
    }
  }
  .location {
  }
}
