.nannyAvatar {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 120px;
  max-width: 120px;
  /* grid-area: 1 / 1 / 4 / 2; */
  border: 2px solid rgba(240, 63, 59, 0.2);
  border-radius: 30px;
  padding: 12px;
  &::before {
    content: '';
    position: absolute;
    z-index: 99;
    border-radius: 100%;
    top: 9px;
    right: 14px;
    width: 10px;
    height: 10px;
    background-color: #38cd3e;
  }
  &::after {
    content: '';
    position: absolute;
    border-radius: 100%;
    border-radius: 100%;
    top: 7px;
    right: 12px;
    width: 14px;
    height: 14px;
    background-color: var(--main);
  }
  .avatar {
    border-radius: 15px;
  }
}
