.layoutWrapper {
  box-sizing: border-box;
  position: relative;
  background-color: #fbfbfb;
  width: 100%;
  max-width: 1376px;
  margin: 0 auto;
  padding: 32px;
}

.layoutWrapperNotHome {
  padding: 152px 128px 100px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f3f3f3;
}
