@import url(../AuthForm.module.css);

.nanny {
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 14px;
  max-height: 44px;
  margin-bottom: 40px;
  .nannyAvatar {
    border-radius: 15px;
  }
  p {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #8a8a89;
    margin-bottom: 4px;
  }
  .nannyName {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--black);
  }
}

.form.formAp {
  max-width: 600px;
  padding-left: 50px;
  padding-right: 50px;

  input {
    max-width: 472px;
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
  .scrollWrapper {
    max-height: 350px;
    overflow: auto;
    padding-right: 5px;
    margin-bottom: 36px;

    &::-webkit-scrollbar {
      width: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(40, 39, 39, 0.6);
      border-radius: 4px;
    }
    .inputWrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      column-gap: 8px;
      row-gap: 16px;
      margin-bottom: 16px;
      input {
        min-width: 232px;
        width: 100%;
        margin-bottom: 0;
      }
    }
    .errorWrapper {
      min-width: 0;
      &:not(:last-child) {
        padding-bottom: 0;
      }

      &:nth-child(n + 5) {
        display: block;
        padding-bottom: 16px;
      }
      textarea {
        box-sizing: border-box;
        display: block;
        font-family: var(--font-family);
        color: inherit;
        font-weight: inherit;
        resize: none;
        width: 100%;
        border-color: var(--input-singIn);
        border-radius: 12px;
        padding: 16px 18px;
        font-size: inherit;
        line-height: 1.25;
        background-color: transparent;
        &::placeholder {
          color: inherit;
        }
      }

      .textareaError {
        border-color: var(--error);
      }
    }
  }
  .scrollWrapper > .errorWrapper:nth-child(n + 2) {
    display: block;
    padding-bottom: 16px;
  }
}
