.header {
  z-index: 9;
  .headerContainer {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
  }
  .logo {
    font-weight: 500;
    font-size: 24px;

    line-height: 1.17;
    letter-spacing: -0.02em;
    color: var(--main);
  }

  nav {
    .navList {
      display: flex;
      column-gap: 40px;
      li {
        & > a {
          line-height: 1.25;
          color: var(--main);
        }

        .activeLink {
          position: relative;
          &::after {
            content: '';
            background-color: white;
            position: absolute;
            bottom: -12px;
            right: 45%;
            width: 8px;
            height: 8px;
            border-radius: 50%;
          }
        }
      }
    }
  }
}

.headerHome {
  position: absolute;
  background-color: transparent;

  border-bottom: 1px solid rgba(251, 251, 251, 0.4);
  top: 32px;
  left: 32px;
  right: 32px;
}

.headerNotHome {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--background);
  padding-left: 128px;
  padding-right: 128px;
}

.navWrapper {
  display: flex;
  column-gap: 92px;
  align-items: center;
  &.notHomeNavWrapper {
    column-gap: 217px;
  }
}
