.heartIcon {
  width: 26px;
  height: 26px;
  fill: transparent;
  stroke: var(--focus-filter);
  transition: fill var(--transition), stroke var(--transition);
}

.heartIconActive {
  width: 26px;
  height: 26px;
  fill: var(--background);
  stroke: var(--background);
}
