.heroContainer {
  position: relative;
  border-radius: 30px;
  width: 100%;
  background-color: #0957c3;
  background-image: linear-gradient(
      rgba(18, 20, 23, 0.6),
      rgba(18, 20, 23, 0.6)
    ),
    url('/images/hero.webp');
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: right center;
  height: 736px;

  .titleWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-left: 96px;
    max-width: 517px;
    height: inherit;
    .title {
      font-weight: 500;
      font-size: 70px;
      line-height: 1;
      letter-spacing: -0.03em;
      margin-bottom: 28px;
    }
    .subtitle {
      font-weight: 400;
      font-size: 28px;

      line-height: 1.1;
      letter-spacing: -0.02em;
      margin-bottom: 64px;
    }
    .getStartedLink {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(251, 251, 251, 0.4);
      border-radius: 30px;
      padding: 18px 50px;
      font-family: var(--font-family);
      font-weight: 500;
      font-size: 20px;
      line-height: 1.2;
      color: currentColor;
      .linkText {
        margin-right: 18px;
      }

      .arrow {
        fill: var(--main);
        transition: transform var(--transition);
      }
      &:hover .arrow,
      &:focus .arrow {
        transform: rotate(46deg);
      }
    }
  }

  .countWrapper {
    position: absolute;
    z-index: 99;
    right: 50px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 16px;
    justify-content: center;
    align-items: start;
    box-sizing: border-box;
    padding: 29px 32px;
    border-radius: 20px;
    background-color: var(--main);
    max-width: 284px;
    max-height: 118px;

    .countCheck {
      display: inline-block;
      padding: 12px;
      border-radius: 13px;
      background-color: #0957c3;
      max-height: 30px;
      max-width: 30px;

      .checkIcon {
        fill: var(--main);
        width: 30px;
        height: 30px;
      }
    }

    .countDesc {
      font-weight: 400;
      font-size: 16px;
      color: rgba(17, 16, 28, 0.5);
    }
    .count {
      font-weight: 700;
      font-size: 24px;
      color: #11101c;
    }
  }
}
