.nanniesList {
  .listItem {
    padding: 24px;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}
