@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/HelveticaNeueRoman.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/HelveticaNeueMedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('./assets/fonts/HelveticaNeueBold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*:focus {
  outline: transparent;
}

:root {
  font-family: var(--font-family), sans-serif;
  line-height: 1.5;
  font-weight: 400;
  letter-spacing: -0.01em;
  color-scheme: light dark;
  color: var(--main);
  background-color: var(--main);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-family: 'Helvetica Neue', sans-serif;
  --main: #fbfbfb;
  --background: #0957c3;
  --transition: 250ms linear;
  --black: #11101c;
  --input-singIn: rgba(17, 16, 28, 0.1);
  --rating: #ffc531;
  --price: #38cd3e;
  --error: #f03f3b;
}

p {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
